html {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
}

.logo {
    color: white;
    height: 50px;
    padding: 5px 0 10px 0;
}

header {
    display: inline-flex;
    position: fixed;
    height: 69px;
    margin-top: -8px;
    width: 100%;
    background: black;
    border-bottom: 2px solid seashell;
    align-content: center;
}

.nav {
    align-content: center;
}

.menu {
    list-style: none;
    display: inline-flex;
    padding-left: 850px;
}

li {
    padding: 0 8px 0 0;
}

a {
    color: white;
}

.mission-background {
    height: 700px;
    width: 100%;
}

.tea-month img {
    height: 200px;
    width: 300px;
}

.tea-container {
    justify-content: space-evenly;
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}

.tea-month {
    width: 1000px;
    text-align: center;
    margin: auto;
}

.location {
    height: 700px;
    width: 100%;
}